#topbar {
    padding-top:15px;
    padding-bottom:5px;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 4;
}

#spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #ede9df;
}

a {
    color: webkit-link;
    text-decoration: underline;
}

.heatmap-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    left:20px;
    position:relative;
}

.heatmap {
    position:absolute;
}

.hover {
    position:absolute;
}

.heatmap2 {
    position:absolute;
    top:0;
}

.hover2 {
    position:absolute;
    top:0;
}

h1 {
    font-size: 15px;
    margin: 6px 0 0px 12px;
    padding: 0;
}

#loading {
    margin-top: 180px;
    font-size: 48px;
    text-align:center;
}

.tooltip{
    width: 400px;
    line-height: 20px;
    color: black;
    display: none;
    background: #333;
    background: rgba(255, 255, 255, 0.9);
    border:1px;
    padding:12px 12px 10px 15px;
}

.window_label {
    border: solid 1px #F1F1F1;
    background: #fff;
    display: inline-block;
    height: 22px;
    padding: 0 6px;
    line-height: 22px;
    position: absolute;
    top: 7px;
    right: 15px;
    text-align: center;
    font-size: 12px;
    color: #777;
    border-radius: 1px;
    z-index: 30;
}

.panel_tip {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 16px;
    z-index: 30;
}

.menu_label1 {
    border: solid 1px #F1F1F1;
    background: #95B8E7;
    display: inline-block;
    height: 22px;
    width: 70px;
    padding: 0 6px;
    line-height: 22px;
    position: absolute;
    bottom: 30px;
    right: 15px;
    text-align: left;
    text-decoration: underline;
    font-size: 12px;
    border-radius: 1px;
    z-index: 30;
    cursor: pointer
}

.menu_label2 {
    border: solid 1px #F1F1F1;
    background: #95B8E7;
    display: inline-block;
    height: 22px;
    width: 70px;
    padding: 0 6px;
    line-height: 22px;
    position: absolute;
    bottom: 5px;
    right: 15px;
    text-align: left;
    text-decoration: underline;
    font-size: 12px;
    border-radius: 1px;
    z-index: 30;
    cursor: pointer
}

.menu_label3 {
    border: solid 1px #F1F1F1;
    background: #95B8E7;
    display: inline-block;
    height: 22px;
    width: 70px;
    padding: 0 6px;
    line-height: 22px;
    text-align: left;
    text-decoration: underline;
    font-size: 12px;
    border-radius: 1px;
    z-index: 30;
    cursor: pointer
}

#options {
    position: fixed;
    left:20px;
}

#navilink {
    position: fixed;
    top: 10px;
    left:10px;
}

.p-tab-nav {
    background-color: #8cbd4830;
    border: 2px solid #8cbd48;
    border-color: #8cbd48; 
}
